video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#screenshot-previewer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  
  visibility: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.transition {
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  -moz-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  
  overflow: hidden !important;
}

.slideLeft {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%); 
}

#control-buttons {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 5px;
  box-sizing: border-box;
}

#control-buttons button {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  padding: 0;
  border: 0;
  cursor: pointer;
  margin-left: 15px;
  color: white;
  overflow: hidden;
}

#control-buttons button:first-child {
  margin-left: 0;
}

#control-buttons button.active {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

#video-button.ready .default,
#video-button.recording .default {
  display: none;
}

#video-button.ready .recordready-button {
  display: inline-block;
}

#video-button.recording {
  background-color: red;
}

#video-button.recording .recording-button {
  display: inline-block;
}

.recordready-button {
  width: 26px;
  height: 26px;
  border-radius: 13px;
  background-color: red;
  display: none;
}

.recording-button {
  width: 20px;
  height: 20px;
  background-color: white;
  display: none;
}

.hidden {
  visibility: hidden;
}

#recording-duration {
  position: absolute;
  bottom: 70px;
  left: 0;
  width: 100%;
  height: 60px;
  font-size: 30px;
  text-align: center;
  box-sizing: border-box;
  line-height: 60px;
}

#burst-previewer {
  position: absolute;
  bottom: 70px;
  left: 0;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  line-height: 60px;
}

#burst-previewer img {
  width: 50px;
  height: 50px;
}